pandas
ninja
wheel
setuptools
fastparquet
safetensors>=0.4.3
sentencepiece>=0.1.97
pygments
websockets
regex
numpy~=1.26.4
tokenizers
rich
pillow>=9.1.0
--index-url https://download.pytorch.org/whl/nightly/cu128
torch
